button {
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    font-family: "Top Secret Stamp";
}
button:hover {
    background-color: red;
    text-decoration-line: underline;
}